@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
header {
  padding-top: 28px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  z-index: 100;
  background-color: white;
  padding-left: 80px;
  padding-right: 80px;
}
header nav ul {
  width: 50%;
  justify-content: space-between;
  display: flex;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  font-family: Inter;
  color: #1b1a18;
}
header nav ul li a:hover {
  color: #0076f5;
}
header nav button {
  padding: 12px 36px;
  background-color: transparent;
  border: 1px solid #0076f5;
  color: #0076f5;
  border-radius: 8px;
  transition: 0.4s;
}
header nav button:hover {
  background-color: #0076f5;
  color: white;
  transition: 0.1;
  cursor: pointer;
}

@media (max-width: 376px) {
  header {
    padding-top: 28px;
  }
  header nav {
    padding: 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px;
    margin-top: 25px;
    z-index: 100;
    padding-top: 10px !important;
    background-color: white;
  }
  header nav ul {
    width: 50%;
    justify-content: space-between;
    display: flex;
  }
  header nav ul li {
    list-style-type: none;
  }
  header nav ul li a {
    text-decoration: none;
    font-family: Inter;
    color: #1b1a18;
  }
  header nav ul li a:hover {
    color: #0076f5;
  }
  header nav button {
    padding: 12px 36px;
    background-color: transparent;
    border: 1px solid #0076f5;
    color: #0076f5;
    border-radius: 8px;
    transition: 0.4s;
  }
  header nav button:hover {
    background-color: #0076f5;
    color: white;
    transition: 0.1;
    cursor: pointer;
  }
}
main .main_hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  margin-top: 20px;
}
main .main_hero .main_hero_text h1 {
  width: 600px;
  font-size: 55px;
  font-family: Fira Code;
}
main .main_hero .main_hero_text h1 span {
  color: #0076F5;
}
main .main_hero .main_hero_text .main_hero_button {
  display: flex;
  gap: 20px;
  padding-top: 35px;
}
main .main_hero .main_hero_text .main_hero_button button {
  width: 170px;
  height: 45px;
  transition: 0.4s;
}
main .main_hero .main_hero_text .main_hero_button button:hover {
  background-color: #0076F5;
  border: 2px solid #0076F5;
  color: white;
}
main .main_hero .main_hero_img {
  display: flex;
  gap: 10px;
}
main .main_hero .main_hero_img .ozgaruvchi {
  transform: translateY(120px);
}
main .main_hero .main_hero_img .ozgaruvchi1 {
  transform: translateY(10px);
}
main .main_hero .main_hero_img img {
  width: 200px;
  height: 580px;
  border-radius: 30px;
  transition: 0.4s;
}
main .main_hero .main_hero_img img:hover {
  transform: scale(1.05);
}
main .statistika {
  padding-top: 100px;
  padding-bottom: 50px;
}
main .statistika h2 {
  padding-top: 20px;
  font-family: Fira Code;
  font-size: 35px;
  color: #1b1a18;
}
main .statistika .item_wrap {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .statistika .item_wrap .statistika_item {
  padding-top: 30px;
  text-align: center;
  width: 270px;
  height: 190px;
  border-radius: 10px;
}
main .statistika .item_wrap .statistika_item h3 {
  font-family: Fira Code;
  font-size: 30px;
  color: #1b1a18;
}
main .statistika .item_wrap .statistika_item p {
  font-family: Inter;
  color: #514d48;
}
main .biz_haqimizda h2 {
  padding-top: 20px;
  font-family: Fira Code;
  font-size: 35px;
  color: #1b1a18;
}
main .biz_haqimizda .biz_haqimizda_wrap {
  display: flex;
  justify-content: start;
  gap: 140px;
  align-items: center;
  padding-top: 25px;
  flex-wrap: wrap;
}
main .biz_haqimizda .biz_haqimizda_wrap .biz_haqimizda_text {
  width: 400px;
}
main .biz_haqimizda .biz_haqimizda_wrap .biz_haqimizda_text h3 {
  font-family: Inter;
}
main .biz_haqimizda .biz_haqimizda_wrap .biz_haqimizda_text p {
  font-family: Inter;
  color: #514d48;
  padding-top: 10px;
}
main .biz_haqimizda .biz_haqimizda_wrap .biz_haqimizda_img {
  display: flex;
  gap: 20px;
}
main .biz_haqimizda .biz_haqimizda_wrap .biz_haqimizda_img img {
  width: 250px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
main .biz_haqimizda .biz_haqimizda_wrap .biz_haqimizda_img .ozgaruvchi3 {
  transform: translateY(25px);
}
main .kurslar .kurs_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
main .kurslar .kurs_header h2 {
  padding-top: 20px;
  font-family: Fira Code;
  font-size: 35px;
  color: #1b1a18;
  padding-bottom: 25px;
}
main .kurslar .kurs_header p {
  font-family: Inter;
  color: #0076F5;
  transition: 0.4s;
}
main .kurslar .kurs_header p:hover {
  cursor: pointer;
}
main .kurslar .kurslar_wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  flex-wrap: wrap;
  gap: 10px;
}
main .kurslar .kurslar_wrapper .kurs_wrap {
  text-align: center;
  width: 380px;
  min-height: 420px;
  padding: 20px;
  border-radius: 15px;
  transition: 0.4s;
  transition: 0.4s;
}
main .kurslar .kurslar_wrapper .kurs_wrap:hover {
  transform: scale(1.05);
}
main .kurslar .kurslar_wrapper .kurs_wrap button {
  padding: 8px 50px;
  margin-top: 15px;
  transition: 0.4s;
}
main .kurslar .kurslar_wrapper .kurs_wrap button:hover {
  background-color: #0076F5;
  color: white;
}
main .kurslar .kurslar_wrapper .kurs_wrap h3 {
  font-family: Inter;
  font-size: 25px;
  color: #1b1a18;
  padding-top: 15px;
}
main .kurslar .kurslar_wrapper .kurs_wrap p {
  font-family: Inter;
  color: #514d48;
  padding-top: 10px;
  font-size: 16px;
}
main .kurslar .kurslar_wrapper .kurs_wrap p span {
  color: #0076F5;
}
main .bepul_darsliklar .darsliklar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main .bepul_darsliklar .darsliklar_header p {
  font-family: Inter;
  color: #0076F5;
  transition: 0.4s;
}
main .bepul_darsliklar .darsliklar_header p:hover {
  cursor: pointer;
}
main .bepul_darsliklar .darsliklar_header h2 {
  padding-top: 20px;
  font-family: Fira Code;
  font-size: 35px;
  color: #1b1a18;
  padding-bottom: 25px;
}
main .bepul_darsliklar .bepul_darsliklar_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
main .bepul_darsliklar .bepul_darsliklar_wrapper .bepul_darsliklar_wrap {
  padding: 20px;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  transition: 0.4s;
  transition: 0.4s;
}
main .bepul_darsliklar .bepul_darsliklar_wrapper .bepul_darsliklar_wrap:hover {
  transform: scale(1.05);
}
main .bepul_darsliklar .bepul_darsliklar_wrapper .bepul_darsliklar_wrap img {
  width: 300px;
}
main .bepul_darsliklar .bepul_darsliklar_wrapper .bepul_darsliklar_wrap h3 {
  font-family: Inter;
  font-size: 20px;
  color: #1b1a18;
  padding-top: 10px;
}
main .bepul_darsliklar .bepul_darsliklar_wrapper .bepul_darsliklar_wrap p {
  font-family: Inter;
  color: #514d48;
  padding-top: 10px;
  font-size: 16px;
  max-width: 300px;
}
main .bepul_darsliklar .bepul_darsliklar_wrapper .bepul_darsliklar_wrap button {
  padding: 8px 50px;
  margin-top: 15px;
  transition: 0.4s;
}
main .bepul_darsliklar .bepul_darsliklar_wrapper .bepul_darsliklar_wrap button:hover {
  background-color: #0076F5;
  color: white;
}
main .bizning_jamoa .jamoa_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .bizning_jamoa .jamoa_header p {
  font-family: Inter;
  color: #0076F5;
}
main .bizning_jamoa .jamoa_header p:hover {
  cursor: pointer;
}
main .bizning_jamoa .jamoa_header h2 {
  padding-top: 20px;
  font-family: Fira Code;
  font-size: 35px;
  color: #1b1a18;
  padding-bottom: 25px;
}
main .bizning_jamoa .bizning_jamoa_wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  flex-wrap: wrap;
}
main .bizning_jamoa .bizning_jamoa_wrapper .bizning_jamoa_wrap {
  width: 280px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  transition: 0.4s;
}
main .bizning_jamoa .bizning_jamoa_wrapper .bizning_jamoa_wrap:hover {
  transform: scale(1.05);
}
main .bizning_jamoa .bizning_jamoa_wrapper .bizning_jamoa_wrap h3 {
  font-family: Inter;
  font-size: 20px;
  color: #1b1a18;
  padding-top: 10px;
}
main .bizning_jamoa .bizning_jamoa_wrapper .bizning_jamoa_wrap span {
  color: #0076F5;
  font-family: Inter;
}
main .bizning_jamoa .bizning_jamoa_wrapper .bizning_jamoa_wrap p {
  font-family: Inter;
  color: #514d48;
  padding-top: 10px;
  font-size: 16px;
  padding-bottom: 15px;
}
main .bizning_jamoa .bizning_jamoa_wrapper .bizning_jamoa_wrap .icon_wrap img {
  width: 25px;
  height: 25px;
}
main .sertifkat h2 {
  padding-top: 20px;
  font-family: Fira Code;
  font-size: 35px;
  color: #1b1a18;
  padding-bottom: 25px;
}
main .sertifkat .sertifkat_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  flex-wrap: wrap;
}
main .sertifkat .sertifkat_wrapper .sertifkat_text {
  width: 450px;
}
main .sertifkat .sertifkat_wrapper .sertifkat_text h3 {
  font-family: Inter;
  font-size: 22px;
  color: #1b1a18;
  padding-top: 10px;
  padding-bottom: 10px;
}
main .sertifkat .sertifkat_wrapper .sertifkat_text p {
  font-family: Inter;
  color: #514d48;
  font-size: 16px;
  padding-bottom: 15px;
}
main .sertifkat .sertifkat_wrapper img {
  width: 600px;
}

.sidebar {
  background: #0076F5;
  display: none;
  position: relative;
  z-index: 200;
}
.sidebar ul {
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style: none;
}
.sidebar ul li a {
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
.sidebar ul li a:hover {
  text-decoration: underline;
}
.sidebar input {
  width: 40px;
  aspect-ratio: 1;
  display: none;
  overflow: hidden;
  margin: 5px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.sidebar input::before, .sidebar input::after {
  content: "";
  grid-area: 1/1;
  transition: 0.3s;
}
.sidebar input::before {
  background: radial-gradient(closest-side at 12.5% 25%, #fff 96%, rgba(0, 0, 0, 0)) 0 0/80% 40%, linear-gradient(#fff 50%, rgba(0, 0, 0, 0) 0) top/80% 40% repeat-y;
}
.sidebar input::after {
  padding: 10%;
  background: radial-gradient(closest-side at 50% 12.5%, #fff 96%, rgba(0, 0, 0, 0)) top/20% 80% repeat-y, radial-gradient(closest-side at 12.5% 50%, #fff 96%, rgba(0, 0, 0, 0)) left/80% 20% repeat-x, conic-gradient(from 90deg at 33% 33%, rgba(0, 0, 0, 0) 90deg, #fff 0) 100% 100%/60% 60% padding-box content-box;
  transform: translate(-100%) translateZ(0) rotate(45deg);
  opacity: 0;
}
.sidebar input:checked::before {
  transform: translate(100%);
  opacity: 0;
}
.sidebar input:checked::after {
  transform: translate(0) translateZ(0) rotate(45deg);
  opacity: 1;
}

@media (max-width: 1188px) {
  header .sidebar {
    display: flex;
  }
  header .sidebar ul {
    position: fixed;
    background: inherit;
    flex-direction: column;
    inset: 0 0 0;
    padding: 40px;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translate(-100%);
    opacity: 0;
    transition: 0.3s;
  }
  header .sidebar input {
    display: grid;
    z-index: 9999;
  }
  header .sidebar input:checked + ul {
    transform: translate(0);
    opacity: 1;
  }
  header nav ul {
    display: none;
  }
  header nav .btn {
    display: none;
  }
  main .main_hero {
    margin-top: 50px;
    flex-direction: column-reverse;
    gap: 150px;
  }
  main .statistika .item_wrap {
    margin: 0 auto;
  }
  main .statistika .item_wrap .statistika_item {
    margin-top: 15px;
  }
  main .kurslar .kurslar_wrapper {
    margin: 0 auto;
  }
}
@media (max-width: 670px) {
  main .sertifkat h2 {
    padding-top: 20px;
    font-family: Fira Code;
    font-size: 35px;
    color: #1b1a18;
    padding-bottom: 25px;
  }
  main .sertifkat .sertifkat_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
  }
  main .sertifkat .sertifkat_wrapper .sertifkat_text {
    width: 450px;
  }
  main .sertifkat .sertifkat_wrapper .sertifkat_text h3 {
    font-family: Inter;
    font-size: 22px;
    color: #1b1a18;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  main .sertifkat .sertifkat_wrapper .sertifkat_text p {
    font-family: Inter;
    color: #514d48;
    font-size: 16px;
    padding-bottom: 15px;
  }
  main .sertifkat .sertifkat_wrapper img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  main .kurslar .kurslar_wrapper {
    justify-content: center;
  }
  main .kurslar .kurslar_wrapper .kurs_wrap {
    width: 300px;
  }
  main .kurslar .kurslar_wrapper .kurs_wrap:nth-child(3) {
    display: none;
  }
  main .sertifkat .sertifkat_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .biz_haqimizda .biz_haqimizda_wrap {
    justify-content: center;
  }
}
@media (max-width: 376px) {
  header .container nav {
    padding: 0 !important;
  }
  main .main_hero .main_hero_img img {
    width: 100px;
    height: auto;
  }
  main .main_hero .main_hero_text {
    width: 300px;
  }
  main .main_hero .main_hero_text h1 {
    font-size: 25px;
    width: 320px;
  }
  main .bizning_jamoa .jamoa_header h2 {
    font-size: 25px;
  }
  main .bizning_jamoa .jamoa_header p {
    display: none;
  }
  main .bizning_jamoa .bizning_jamoa_wrapper {
    justify-content: center !important;
    gap: 30px;
  }
  main .biz_haqimizda .biz_haqimizda_wrap {
    gap: 60px;
  }
  main .biz_haqimizda .biz_haqimizda_wrap .biz_haqimizda_img img {
    width: 150px;
    height: auto;
  }
  main .bepul_darsliklar .darsliklar_header h2 {
    font-size: 25px;
  }
}
footer .footer_wrapper {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
footer .footer_wrapper .footer_wrap {
  width: 350px;
}
footer .footer_wrapper .footer_wrap p {
  font-family: Inter;
  color: #31344B;
}
footer .footer_wrapper .footer_wrap .footer_icon_wrap {
  padding-top: 15px;
}
footer .footer_wrapper .footer_wrap5 {
  width: 350px;
  display: none;
}
footer .footer_wrapper .footer_wrap5 p {
  font-family: Inter;
  color: #31344B;
}
footer .footer_wrapper .footer_wrap5 .footer_icon_wrap {
  padding-top: 15px;
}
footer .footer_wrapper .footer_wrap2 h2 {
  font-family: Inter;
  color: #31344B;
  padding-bottom: 15px;
}
footer .footer_wrapper .footer_wrap2 p {
  font-family: Inter;
  padding-top: 10px;
  color: #31344B;
  line-height: 30px;
}
footer .footer_wrapper .footer_wrap3 h2 {
  font-family: Inter;
  color: #31344B;
  padding-bottom: 15px;
}
footer .footer_wrapper .footer_wrap3 p {
  font-family: Inter;
  padding-top: 10px;
  color: #31344B;
  line-height: 30px;
}
footer .footer_wrapper .footer_wrap4 {
  width: 350px;
}
footer .footer_wrapper .footer_wrap4 h2 {
  font-family: Inter;
  color: #31344B;
  padding-bottom: 15px;
}
footer .footer_wrapper .footer_wrap4 p {
  font-family: Inter;
  color: #31344B;
  padding-top: 10px;
}
footer .footer_wrapper .footer_wrap4 .input_wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer_wrapper .footer_wrap4 .input_wrap input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #0076F5;
  color: #0076F5;
  margin-top: 10px;
}
footer .footer_wrapper .footer_wrap4 .input_wrap ::-moz-placeholder {
  color: #0076F5;
}
footer .footer_wrapper .footer_wrap4 .input_wrap ::placeholder {
  color: #0076F5;
}
footer .footer_wrapper .footer_wrap4 .input_wrap button {
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: 1px solid #0076F5;
  color: #0076F5;
  border-radius: 5px;
  transition: 0.4s;
}
footer .footer_wrapper .footer_wrap4 .input_wrap button:hover {
  background-color: #0076F5;
  color: white;
}

.chiziq {
  background-color: lightgray;
  width: 100%;
  height: 1px;
}

@media (max-width: 1040px) {
  footer .footer_wrapper .footer_wrap {
    display: none;
  }
}
@media (max-width: 376px) {
  footer .footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  footer .footer_wrapper .footer_wrap {
    display: none !important;
  }
  footer .footer_wrapper .footer_wrap5 {
    display: block !important;
  }
}
.all, main .main_hero .main_hero_text .main_hero_button button, main .kurslar .kurslar_wrapper .kurs_wrap button, main .bepul_darsliklar .bepul_darsliklar_wrapper .bepul_darsliklar_wrap button {
  border-radius: 8px;
  border: 2px solid #0076F5;
  background-color: transparent;
  color: #0076F5;
}

main .main_hero .main_hero_img img, main .biz_haqimizda .biz_haqimizda_wrap .biz_haqimizda_img img {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

main .statistika .item_wrap .statistika_item, main .kurslar .kurslar_wrapper .kurs_wrap:hover, main .bepul_darsliklar .bepul_darsliklar_wrapper .bepul_darsliklar_wrap:hover, main .bizning_jamoa .bizning_jamoa_wrapper .bizning_jamoa_wrap:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.dark {
  background-color: black;
}

.dark nav {
  background-color: black;
}

.dark * {
  color: white !important;
}

nav button {
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
  color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.footer {
  width: 100%;
  padding: 15px;
  text-align: center;
}
.footer img {
  padding-bottom: 5px;
}/*# sourceMappingURL=main.css.map */